@model HotalManagementSystem.Models.Dish

@{
    ViewData["Title"] = "AddDish";
}
@if(TempData["Success"] !=null)
{
    TempData["Success"] = null;
    <div class="m-auto">
        <div class="alret alert-dark"></div>
        <h5 class="text-danger">Registered Successfully...</h5>
    </div>
}
<div class="row text-center">
    <div class="col-md-5 m-auto bg-dark text-danger ">
<h5 class="  bg-dark text-danger"><br />Add Dish</h5>
<hr class="bg-danger " />
<form asp-action="AddDish">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Fk_Cook" class="control-label">Select Cook</label>
        <select asp-for="Fk_Cook" class="form-control" asp-items="ViewBag.Cooks">
            <option selected>Select Cook</option>
        </select>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control" /></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group bg-danger">
        <input type="submit" class=" btn btn-dark text-danger" value="Create" />
    </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
